{
  "port": 3000,
  "super_secret_token": "mySecretToken123",
  "mainIndex": "public",
  "defaultTitle": "My Awesome Blog",
  "git": [
    {
      "branch": "master",
      "directory": "data/src"
    },
    {
      "branch": "secondary",
      "directory": "data/secondary"
    }
  ],
  "dirs": [
    {
      "raw": false,
      "path": "data/src/public",
      "name": "public",
      "indexed": true,
      "public": true,
      "token": "undefined",
      "cache": true
    },
    {
      "raw": false,
      "path": "data/src/unlisted",
      "name": "wip",
      "indexed": true,
      "public": false,
      "token": "undefined",
      "cache": true
    },
    {
      "raw": false,
      "path": "data/src/private",
      "name": "private",
      "indexed": false,
      "public": false,
      "token": "redacted",
      "cache": true
    },
    {
      "raw": false,
      "path": "data/secondary/finished",
      "name": "other",
      "indexed": true,
      "public": false,
      "token": "undefined",
      "cache": false,
      "title": "Other Stuff"
    },
    {
      "raw": true,
      "path": "data/src/assets",
      "name": "assets",
      "indexed": false,
      "public": false,
      "token": "undefined",
      "cache": false
    }
  ]
}
