a {
  cursor: pointer !important;
}
a,
a:visited,
a:active {
  color: var(--link-color);
}
a:hover {
  color: var(--text-color);
}
strong {
  font-weight: calc(var(--bold-weight) + 100);
}
mark{
  background-color: var(--highlight-color);
  color: var(--highlight-text-color);
  padding-left: 0.25em;
  padding-right: 0.25em;
  border-radius: 0.25em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--bold-weight);
}
html {
  --mobile-padding: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size);
}
p {
  margin-top: var(--line-spacing) !important;
  margin-bottom: var(--line-spacing) !important;
}
li {
  /* margin-left: 10px; */
}
li:before {
  content: "";
  margin-left: calc(var(--list-marker-spacing) - 5px);
  /* margin-right: var(--list-marker-spacing) !important; */
}
li > * {
  vertical-align: text-top;
}
.empty-line {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.header {
  color: var(--text-color);
  margin: 0;
  /* margin-top: 3rem; */
  padding-bottom: 0.5rem;
  text-align: var(--header-align);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#content img {
  width: 100%;
  height: auto;
}
.header-box {
  padding-top: 1rem !important;
}
.bounded-width {
  width: 720px;
  max-width: 100%;
  min-width: 0;
}
@media only screen and (max-width: 720px) {
  .header {
    padding-left: var(--mobile-padding);
  }
  #content > * {
    margin-left: var(--mobile-padding);
  }
  #back-button {
    margin-right: 1rem;
  }
  ul {
    padding-left: calc(var(--mobile-padding) + 4px);
  }
}
@media only screen and (min-width: 721px) {
  .center-content {
    padding: 0 1.5rem;
  }
  ul {
    padding-left: 14px;
  }
}
.center-content {
  /* background-color: var(--middle-color); */
  background-color: color-mix(
    in srgb,
    var(--middle-color) 25%,
    var(--background-color)
  );
}
